*{
  margin:0;
  padding:0;
}
body{
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
  background: #262433;
}
.menu{
  position:relative;
  width:280px;
  height:280px;
  display:flex;
  align-items:center;

}
.menu .toggle{
  justify-content: center;
  height:40px;
  width:150px;
  background:#fff;
  display:flex;
  font-size: 22px;
}

.menu li{
  position:absolute;
  left:0;
  list-style:none;
  transition:0.5s;
  transform:rotate(calc(360deg/8 * var(--i)));
  transform-origin:140px;
  scale:0;
}
.menu.active li{
  scale:1;
}
.menu li a{
  transform:rotate(calc(360deg/-8 * var(--i)));
  width:60px;
  height:60px;
  background-color:#ffffff;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  font-size:1.75rem;
  color:var(--clr);
  box-shadow:0 3px 4px rgba(0,0,0,0.15);
  transition:0.5s;
}
